
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin:0;
}
.baseProducts{
    position: fixed;
    top: 4.1rem;
    height: 100vh;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    background-color: #f8fbfe;
}
.productsContainer{
    width: 700px;
    height: 700px;
    top: 4.1rem;
    width: 100%;
    margin-left: 1rem;
    
}
.prodclosebutton button{
    all:unset;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #2487ce;
    border-radius: 5px;
    color: #2487ce;
    padding:12px 32px;
    margin-top:2rem;
    margin-left: 4rem;
}